*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    background-image: url("/images/FondoR.png");         
    background-size: 100vw 100vh;
    background-attachment: fixed; /*Psra que no se mueba*/     
    margin: 0;
}

.fondoinicio{
    background-image: url("/images/fondoinicio.jpg");         
    background-size: cover;
    background-position: center;
}

.form-register{
    width: 450px;
    margin: auto;
    background:	#1d3850;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 5px 1px 27px 5px #5c96c9;
    /*width: 550px;
    background:	#1d2f3f;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    color: white;
    font-family: Cambria;
    box-shadow: 5px 1px 27px 5px #365875;*/
}


.Titulo{
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px;
}

.Labels{
    font-size: 15px;
    text-align: left;
    color: white;
    padding: 5px;
}

.links{
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Cambria;
    line-height: 20px;
}

.form-register .botons{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #1d3850;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: Cambria;
}

.controls{
    width: 100%;
    background: #1a3247;
    padding: 7px;
    border-radius: 1px;
    margin-bottom: 15px;
    font-family: Cambria;
    font-size: 20px;
    color: white;
}



.contenedor1{
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    color: white;
}

.contenedor{
    width: 100%;
    height: 0%;   
}

.cat-gif{
    margin:auto;
    display:block;
    padding: 70px;
}
 
.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
}

.Perfiles{
    color: rgb(175, 218, 207);
    font-family: 'Comic Sans MS';
    font-size: 25px;
}

.Ocho_Bits{
    color: rgb(29, 78, 95);
    padding: 15px;
    margin-bottom: 15px;
    font-family: 'Forte';
    font-size: 50px;
}

@media(max-widtg:480px){
    form{
        width: 100%;
    }
}
